@charset "UTF-8";

/*
    Sintaxis de reglas CSS:

    selector: Le va a indicar al navegador cual
              será el elemento que se modificará.

    Lista de propiedades: Propiedades que se modifican.

    selector {
        nombre-propiedad: valor;
        color: #f00;
        font-family: arial;
        font-size: 30px;
    }

    Selectores básicos:
        1. Etiqueta
        2. Clase:
            Se utiliza mediante el atributo "class":
            El atributo "class" sirve principalmente para añadir estilos CSS
            a un determinado elemento.

            sintaxis del selector: un signo de punto "." como prefijo
                                   del valor del atributo "class".

        3. Identificador (No recomendado):
            Se utiliza mediante el atributo "id"
            El atributo "id" sirve principalmente para añadir comportamientos JavaScript
            a un determinado elemento.

            sintaxis del selector: un signo de número "#" como prefijo
                                   del valor del atributo "id".
*/

/* Selector por etiqueta */
/*p {
    color: #f00;
}*/

/* Selector por clase */
/*.azul {
    color: #00f;
}*/

/* Selector por Id */
/*#verde {
    color: #0f0;
}*/

body {
    font-family: arial;
    /*font-size: 16px;*/
    color: #333;
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    /*
        Elementos de bloque se centran con
        margen (margin) automático a la izquierda
        y a la derecha.
    
        Elemento de en línea se centran con la propiedad
        "text-align".
    
        A un elemento en línea podemos darle comportamiento
        de bloque con: "diplay: block".
    
        A un elemento en bloque podemos darle comportamiento
        de línea con: "diplay: inline".
    */
}

h1 {
    font-size: 30px;
    color: #FF00A6;
    font-weight: 400;
    /*
        200 -> think
        300 -> (light)
        400 -> (normal)
        600 -> semibold
        700 -> (bold)
        800 -> black
        900 -> extra black
    */
    text-transform: uppercase;
}

nav ul {
    margin: 20px 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}
nav li:first-child {
    margin-left: 0;
}
nav a {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF00A6;
}
nav a:hover {
    text-decoration: underline;
    color: #880058;
}

/*
    Propiedades del modelo de cajas:

    - background: Es una propiedad general.
        - background-color: un valor hex
        - background-image: url de la imagen
        - background-repeat: [repeat | no-repeat]
        - background-attachment: [scroll | fixed]
        - background-position: 
            Posición X: [left | center | right | px]
            Posición Y: [top | center | bottom | px]

    - border:
        - Ancho del border en px
        - Estilo del borde: [solid, double]
        - Color del border en hex.

    - padding: Para establecer un espacio entre
               el borde y los contenidos.
            
            - 1 valor: se aplica a los 4 lados
            - 2 valores: 
                    - 1er valor: top/bottom
                    - 2do valor: left/right
            - 3 valores:
                    - 1er valor: top
                    - 2do valor: left/right
                    - 3er valor: bottom
            - 4 valores:
                    - 1er valor: top
                    - 2do valor: right
                    - 3er valor: bottom
                    - 4to valor: left

        Propiedades específicas de padding:
        - padding-top
        - padding-right
        - padding-bottom
        - padding-left

    - margin: Para establecer un espacio entre
              el border y otros elementos.

        Propiedades específicas de margin:
        - margin-top
        - margin-right
        - margin-bottom
        - margin-left

    - width: valor en [px | % | em]
    - height: valor en [px | % | em]

*/
.section-services {
    /* background: #533501 url(../images/bg-header.jpg) no-repeat center center fixed; */
    /*background-color: #533501;
    background-image: url(../images/bg-header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    border: 1px solid #f0f;
    padding: 10px;
    margin: 10px;
    */
}
main h2 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    color: #880058;
}
main img {
    max-width: 300px;
    border: 5px solid #fff;
    box-shadow: 0 0 15px #999;
}

footer {
    background-color: #666;
    text-align: center;
    color: #ccc;
    padding: 16px 0;
}
footer p {
    margin: 0;
}





